@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --corPrin: #212529;
    --fontPrin: 'Quicksand', sans-serif;
    --corSec: #263e7460;
}

body{
    background-color: var(--corPrin);
}

footer{
    height: 70px;
}

#text-link{
    font-size: 20px;
    font-style: bold;
    text-decoration: none;
    color: #ffffff;
}

#carousel-1{
    background-color: var(--corSec);
}

.iniNoticias{
    font-family: var(--fontPrin);
    font-weight: bold;
}

.textos-principalPage h1{
    font-family: var(--fontPrin);
    font-weight: bold;
}

.noticia-item{
    background-color: var(--corSec);
    border:10px solid var(--corSec);
}

#carousel-1{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

footer{
    border-top: 1px solid white;
}

a{
    text-decoration: none;
    color: white;
}

.nav-item{
    margin: 7px;
}
.linha{
    background-color: rgb(224, 88, 9);
}
.img-navbar{
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}
