@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --corPrin: #041820;
    --fontPrin: 'Quicksand', sans-serif;
    --corSec: #263e7460;
    --navbar-color: #ffffff;
}

body{
    background-color: var(--corPrin);
}

footer{
    height: 70px;
    border-top: 1px solid white;
    background-color: #041820;
}

#text-link{
    font-size: 20px;
    font-style: bold;
    text-decoration: none;
    color: #ffffff;
}

#carousel-1{
    background-color: var(--corPrin);
    margin-bottom: 100px;
}

.iniNoticias{
    font-family: var(--fontPrin);
    font-weight: bold;
}

.textos-principalPage h1{
    font-family: var(--fontPrin);
    font-weight: bold;
}

.noticia-item{
    background-color: var(--corSec);
    border:10px solid var(--corSec);
}

a{
    text-decoration: none;
    color: white;

}

.nav-item{
    margin: 4px;
}
.linha{
    border-top: 1px solid white;
    background-color: rgb(224, 88, 9);
    padding: 0px 0px 0px 0px;
}
/* .linha form{    
    width: 400px;
    justify-content: right;
} */
.img-navbar{
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}

.login{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 18px;
}

.barra{
    display: flex;
    align-items: center;
}

.carousel-inner{
    display: flex;
    align-items: center;
    margin: 10px;
}

.barra1{
    padding: 0px 0px 0px 0px;
}

#search{
    padding: 0px 0px 0px 0px;
}

#form {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0;
}

.form-pesquisa button{
    margin-left: 5px;
}

.carousel-item {
    align-items: center;
}

#carousel-text{
    background-color: #30333681;
}

#texto-teste{
    color: white;
}
#texto-teste:hover{
    color: #96B6C5;
}

.div-who{
    height: 46vw;
    background-image: url(assets/who.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid white;
}

.text-who2{
    padding:  150px 0px 0px 0px;
}

#span-who{
    color:rgb(255, 166, 0);
    font-style: bold;
}

.justify{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #041820;
}

.traco{
    margin-top: 3px;
}

#contato:hover{
    color: #96B6C5;
}

#carousel-border{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 5%;
}
