.recep{
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-recep {
    display: flex;
    margin-right: 20px;
}

.text1-recep{
    margin-left: 10px;
    margin-top: 40px;
}