@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --corPrin: #041820;
    --fontPrin: 'Quicksand', sans-serif;
    --corSec: #263e7460;
    --navbar-color: #ffffff;
}

body{
    background-color: var(--corPrin);
}

footer{
    height: 70px;
    border-top: 1px solid white;
    background-color: #041820;
}

#text-link{
    font-size: 20px;
    font-style: bold;
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 991px) {
    .barra {
        background-color: #ff5733;
    }
}

a{
    text-decoration: none;
    color: white;
}

.navbar-toggler-icon{
    background-color: #949494a4;
}

.nav-item{
    margin: 4px;
}
.linha{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #ff5733;
    padding: 0px 0px 0px 0px;
}

.img-navbar{
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}

.login{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 18px;
}

.barra{
    display: flex;
    align-items: center;
}

.barra1{
    padding: 0px 0px 0px 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 50%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 15%;
    background-color: #041820; /* Cor de fundo da página */
}

.image {
    flex: 1;
    padding: 20px; /* Espaçamento ao redor da imagem */
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

#texto-teste:hover{
    color: #96B6C5;
}

#texto-teste{
    color: white;
}

.text {
    flex: 1.5;
    font-size: 20px;
    padding: 15px; /* Espaçamento ao redor do texto */
    background-color: #272829; /* Cor de fundo da área de texto */
    border-radius: 30px;
    color: white;
}

/* Media query para telas menores */
@media (max-width: 850px) {
    .container {
        flex-direction: column; /* Mudar para uma coluna em telas menores */
    }

    .image {
        order: 2; /* Altera a ordem da exibição para ir para baixo */
        margin-top: 20px; /* Adiciona um espaçamento entre texto e imagem */
    }

    .text {
        margin-bottom: 20px; /* Adiciona espaçamento abaixo do texto */
    }
}
.p {
    margin: 0;
    text-align: justify;
}

#SaquePCIMA, #SaquePBAIXO{
    margin-left: 25%;
    color: #FFE569;
    font-size: 27px;
}

#Recepcao, #Saque, #Levantamento, #Bloqueio, #Ataque{
    color:rgb(255, 166, 0);
    font-size: 40px;
}

#Recepcao ,#Saque, #Levantamento, #Bloqueio, #Ataque{
    margin-top: 60px;
}

#spanOrange{
    color:rgb(255, 166, 0);
}

.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
}

.video-text{
    border-radius: 30px 0 0 30px;
}

.circulo{
    width: 20px;
}
