.cabecario{
    background-color: red;
    justify-content: center;
    color: white;
    margin: 5px;
    display: flex;
}
ul {
    list-style: none;
    font-weight: bold;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}
li{
    margin: 0 10px;
}
.cabecario .cabecario-itens{
    margin-top:10px;
}
nav{
    display: inline;
}